body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(75, 6, 193);
}

::-webkit-scrollbar-thumb {
  background: rgb(155, 99, 252);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 71, 253);
}
