.myCustomButton{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding-top: 1.12vw;
    padding-bottom: 1.12vw;
    padding-left: 2.62vw;
    padding-right: 2.62vw;
    border-radius: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    transition: all 5s ease 0;
}

.myCustomButton:hover {
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.5);
}